body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /*serve para herdar a cor do pai, neste caso o h1*/
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap; /*serve para quebrar o elemento quando nao houver mais espaco*/
  gap: 20px; /*nao ira deixar grudar mais do que 20px ao arrastar a janela*/
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  /*se trata da criacao de um pseudo elemento onde sempre se define um tipo "content"*/
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #ffffff;
  margin-top: 4px; /*serve para afastar um pouco mais o elemento do texto*/
  transition: 0.3s; /*define o tempo da animacao deixando-a mais suave*/
  position: absolute;
}

.header-menu a:hover:after {
  /*serve para definir a transicao da animacao ao mexer do mouse*/
  width: 100%;
}

@media (max-width: 800px) {
  /*para mobile*/
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px; /*adicona uma borda deixando o menu muito mais parecido com um botao*/
  }
  .header-menu a:hover {
    /*define a acao ao passar o mouse por cima, tornando mais intuitivo para o usuario ao clicar*/
    background-color: #2e2e2e;
  }
  .header a::after {
    display: none; /*retira a animcao do menu para mobile*/
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.introducao-bg {
  background: #000000;
  color: #ffffff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr; /*ira distribuir o espaco que sobra das colunas*/
  gap: 0px 40px; /*para criar distancia entre os elementos*/
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto; /*alinha os itens ao centro independente do tamanho da pagina*/
  margin-right: auto; /*alinha os itens ao centro independente do tamanho da pagina*/
}

.introducao-conteudo {
  align-self: end; /*deixara o conteudo alinhado na parte debaixo*/
  padding-bottom: 80px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125; /*ao utilizar um valor absoluto ex:1.125 no line-height possibilita que independente da alteracao que se faca na tipografia ele ira manter um tamanho relativo a ela*/
}

.introducao h1 span {
  color: #ffbb00;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px; /*adiciona os cantos arredondados*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /*adiciona e edita uma sombra em um elemento de botao*/
  text-transform: uppercase; /*transforma o texto, deixando tudo em maiusculo*/
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold; /*deixa a fonte em negrito*/
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
