.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px; /*adiciona os cantos arredondados*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /*adiciona e edita uma sombra em um elemento de botao*/
  text-transform: uppercase; /*transforma o texto, deixando tudo em maiusculo*/
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-family: "Montserrat";
  font-weight: 600;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}
