.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px; /*adiciona os cantos arredondados*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /*adiciona e edita uma sombra em um elemento de botao*/
  text-transform: uppercase; /*transforma o texto, deixando tudo em maiusculo*/
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Montserrat", sans-serif;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Montserrat", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor; /*ira utilizar qualquer valor que for definido na cor do 'pai' no caso o .linl*/
}

.link:hover {
  color: var(--cor-0);
}
