.texto-grande {
  font-size: 64px;
  line-height: 1.125; /*ao utilizar um valor absoluto ex:1.125 no line-height possibilita que independente da alteracao que se faca na tipografia ele ira manter um tamanho relativo a ela*/
  font-family: "Montserrat";
  font-weight: 600;
}

.texto-medio {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Roboto";
  font-weight: 400px;
}
