.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#bicicleta .titulo p {
  text-transform: uppercase;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /*dar uma distancia de 20px entre as imagens*/
}

.bicicleta-imagens img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens img:first-child {
  /*ira priorizar sempre o primeiro item no caso a primeira imagem deixando ela sempre 100% em relacao ao min-width*/
  min-width: 100%;
}

.bicicleta-conteudo > p {
  margin-bottom: 32px;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  background-color: var(
    --cor-12
  ); /*ira colocar uma borda em volta do span criando um efeito de destaque*/
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 12px;
}

.bicicleta-informacoes,
.bicicleta-ficha {
  padding: 32px;
  background-color: var(--cor-12);
  border-radius: 4px;
  margin-bottom: 40px;
}

.bicicleta-informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.bicicleta-informacoes img {
  /*efine um tamanho ideal para os icones*/
  width: 24px;
  margin-bottom: 8px;
}

.bicicleta-informacoes h3 {
  margin-bottom: 8px;
}

.bicicleta-ficha li {
  display: flex;
  padding: 4px 0;
  justify-content: space-between;
  border-bottom: 1px solid var(cor-11);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicleta-imagens {
    /*joga as imagens para a segunda linha e prioriza mostrar primeiro o conteudo*/
    grid-row: 2;
  }
}

@media (max-width: 500px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
  }
  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}
