.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr; /*separa a imagem do depoimento em 2 colunas*/
  background-color: var(--cor-p1);
  overflow: hidden;
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end; /*deixar ele sempre alinhado o maximo abaixo*/
  background: url(../../img/dec/bottom-right-p.svg) no-repeat bottom 40px right
    40px;
}

.depoimento-conteudo p {
  max-width: 32ch;
  font-family: "Georgia", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

.depoimento p::before,
.depoimento p::after {
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}

.depoimento p::before {
  content: "“";
  left: -50px;
  top: -20px;
}

.depoimento p::after {
  content: "”";
}

@media (min-width: 1200px) {
  /*sempre que for colocar acima do media mencionado se utiliza o min-width e quando for abaixo se utiliza o max-width*/
  .depoimento img {
    max-height: 520px;
  }
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    justify-self: center;
    background: var(--cor-p1);
  }
}
