.introducao-bg {
  background: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px #ffffff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr; /*ira distribuir o espaco que sobra das colunas*/
  gap: 0px 40px; /*para criar distancia entre os elementos*/
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto; /*alinha os itens ao centro independente do tamanho da pagina*/
  margin-right: auto; /*alinha os itens ao centro independente do tamanho da pagina*/
}

.introducao-conteudo {
  align-self: end; /*deixara o conteudo alinhado na parte debaixo*/
  padding-bottom: 200px;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao h1 span {
  color: #ffbb00;
}

.introducao p {
  margin-bottom: 20px;
  color: #b2b2b2;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }
  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111111;
    padding: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .introducao {
    grid-template-columns: 1fr; /*ira deixar com uma coluna quando estiver abaixo da resolucao de 800px*/
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
