.parceiros {
  padding-top: 60px;
  padding-bottom: 120px;
}

.parceiros h2 {
  margin-bottom: 60px;
}

.parceiros ul {
  padding: 0 20px;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*ira definir 4 colunas de 1fr*/
  margin: 0 auto;
}

.parceiros li {
  display: flex;
  padding: 32px; /*ira separar os itens das pontas*/
  border-left: 2px solid var(--cor-2); /*ira criar as bordas em volta da imacagem*/
}

.parceiros img {
  margin: auto; /*utilizado junto do display flex na li ira deixar a imagem totalmente alinhada ao centro*/
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none; /*remove a borda do primeiro e quinto item*/
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2); /*ira colocar a borda acima do 5 item se estendendo ate o item final*/
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }
  .parceiros li {
    display: flex;
    padding: 20px; /*ira separar os itens das pontas*/
  }
  .parceiros h2 {
    margin-bottom: 20px;
  }
  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2); /*ira colocar a borda acima do 3 item se estendendo ate o item final*/
  }
  .parceiros li:nth-child(odd) {
    border-left: none;
  }
}
